* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #cc0000;
  --black: #0a0a0a;
  --dark: #111111;
  --steel: #1e1e1e;
  --metal: #2a2a2a;
  --gray: #888888;
  --white: #ffffff;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}
